{%load bootstrap3%}
{%load static%}
{{block.super}}
{%block content%}

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Home</title>
    {{form.media}}

    {%block styles%}
    <link href="{% static 'css/awards.css' %}" rel="stylesheet">
    {%endblock%}



  <!-- Custom Fonts -->

  <link href="{% static 'css/all.min.css' %}" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic"
    rel="stylesheet" type="text/css">
  <link href="{% static 'css/simple-line-icons.css' %}" rel="stylesheet">


</head>

<body id="page-top">

    <!-- Navigation -->
    {% if user.is_authenticated %}
    <a class="menu-toggle rounded" href="#">{{user.username}}
        <i class="fas fa-bars"></i>
    </a>

    <nav id="sidebar-wrapper">

        <ul class="sidebar-nav">
            <li class="sidebar-brand">
                <a href="#page-top">Projects</a>
            </li>
            <li class="sidebar-nav-item">
                <a class="js-scroll-trigger" href="{%url 'home'%}">Home</a>
            </li>
            <li class="sidebar-nav-item">
                <a href="{%url 'new-project' %}">Post Project</a>
            </li>
            <li class="sidebar-nav-item">
                <a href="{%url 'new-profile'%}">New Profile</a>
            </li>
            <li class="sidebar-nav-item">
                <a href="{% url 'displayprofile' user.id %}">View Profile</a>
            </li>
            <li class="sidebar-nav-item">
                <a href="/accounts/password/change">Change password</a>
            </li>
            <li class="sidebar-nav-item">
                <a href=" /logout">Log out</a>
            </li>
            {%else%}

            <li class="sidebar-nav-item">
                <a href=" /accounts/login">Log in</a>
            </li>
            {%endif%}

        </ul>
    </nav>

    <section class="content-section bg-info text-white" id="homepage">
        <div class="container text-center">
            <h2 class="mb-4" style="color: black;">Projects</h2>
            <a class="btn btn-primary btn-xl btn-light js-scroll-trigger" href="#portfolio">View projects</a>
        </div> 
    </section>
