{% extends 'base.html' %}
{%load bootstrap3%}
{%load static%}
{{block.super}}
{%block content%}
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>New Profile
    </title>
    {{form.media}}

    {% block styles %}
    {% bootstrap_css %}


    <!-- Bootstrap Core CSS -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">


    <!-- Custom Fonts -->

    <link href="{% static 'css/all.min.css' %}" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic"
        rel="stylesheet" type="text/css">

    <!-- Custom CSS -->
    <link href="{% static 'css/awards.css' %}" rel="stylesheet">
    {%endblock%}
</head>


     <!-- About -->
     <header class="masthead " id="about">
        <div class="container text-center my-auto">
            <div class="row">
                <div class="col-lg-10 mx-auto">
                    <div class="col-lg-10 my-auto">
                        <div class="device-container">

                            <form action="{%url 'new-profile'%}" method="post" enctype="multipart/form-data">
                                {%csrf_token%}

                                {% bootstrap_form form%}
                                <input type="submit" class="btn btn-success btn-lg" value="Post">
                            </form>
                            </div>
                        </header>
</body>
{%endblock%}