{% extends 'base.html' %}
{%load bootstrap3%}
{%load static%}
{{block.super}}
{%block content%}

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Home</title>
    {{form.media}}

    {%block styles%}
    <link href="{% static 'css/awards.css' %}" rel="stylesheet">
    {%endblock%}



  <!-- Custom Fonts -->

  <link href="{% static 'css/all.min.css' %}" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic"
    rel="stylesheet" type="text/css">
  <link href="{% static 'css/simple-line-icons.css' %}" rel="stylesheet">


</head>
    <section class="callout">
        <div class="container text-center">
            <div class="col-lg-7 my-auto">
                <form action="{%url 'new-project'%}" method="post" enctype="multipart/form-data">
                {%csrf_token%}
                {%bootstrap_form form%}
                <input type="submit" class="btn btn-success btn-lg" value="Post">
                </form>
                <div class="button"></div>
            </div>
        </div>
    </section>

    </body>
    {%endblock%}
