{%load bootstrap3%}
{%load static%}
{{block.super}}
{%block content%}

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Profile</title>
    {{form.media}}

    {%block styles%}
    <link href="{% static 'css/awards.css' %}" rel="stylesheet">
    {%endblock%}

</head>

<body id="page-top">

    <!-- Navigation -->
    {% if user.is_authenticated %}
    <a class="menu-toggle rounded" href="#">{{user.username}}
        <i class="fas fa-bars"></i>
    </a>

    <nav id="sidebar-wrapper">

        <ul class="sidebar-nav">
            <li class="sidebar-brand">
                <a href="#page-top">Projects</a>
            </li>
            <li class="sidebar-nav-item">
                <a class="js-scroll-trigger" href="{%url 'home'%}">Home</a>
            </li>
            <li class="sidebar-nav-item">
                <a href="{%url 'new-project' %}">Post Project</a>
            </li>
            <li class="sidebar-nav-item">
                <a href="{%url 'new-profile'%}">New Profile</a>
            </li>
            <li class="sidebar-nav-item">
                <a href="{% url 'displayprofile' user.id %}">View Profile</a>
            </li>
            <li class="sidebar-nav-item">
                <a href="/accounts/password/change">Change password</a>
            </li>
            <li class="sidebar-nav-item">
                <a href=" /logout">Log out</a>
            </li>
            {%else%}

            <li class="sidebar-nav-item">
                <a href=" /accounts/login">Log in</a>
            </li>
            {%endif%}

        </ul>
    </nav>

    <header class="masthead">
        <div class="container h-100">
            <div class="row h-100">
                <div class="col-lg-5 my-auto">
                    <div class="header-content mx-auto">
                        <h1 class="mb-5"></h1>
                    </div>
                </div>

                <div class="col-lg-7 my-auto">
                    <div class="header-content">
                        {%if profile%}

                        {%if user.is_authenticated%}
                        {%for profile in profile%}

                        <h1>{{profile.editor.username}} Profile</h1>
                    </div>
                    <img src="{{profile.profile_photo.url}}" class="img-fluid"
                    style="height:300px;width:300px;">
                </div>

                <div>
                    <h3>{{user.username}} bio: {{profile.bio}}</h3>
                </div>

                <div>
                    <h3>Contact : {{profile.contact}}</h3>
                </div>

                {%endfor%}
                {%else%}
                <div>
                    <h1 class="text-center">{{user.username}} has no profile</h1>
                </div>
                {%endif%}
                {%endif%}
                
                {%if projects%}
                <div>
                <h1>{{projects.editor.username}}</h1>
            </div>
            <h2>Posted:{{projects.pub_date}}</h2>
            <h2>Title:{{projects.title}}</h2>
            <h2>Description:{{projects.description|safe}}</h2>
            <a href="{{projects.link}}">Project Link: {{projects.link}}</a>


            <div>
                <img src="{{projects.image.url}}" alt="image" height="300px;" width="300px;">
            </div>

            <div>
                <a href="{%url 'project' projects.id%}">View more about this project</a>
            </div>
            {%endif%}
            </div>
        </div>
    </header>